@charset "UTF-8";
/*Variabler*/
/*Mixins*/
/*Generel styling*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

img {
  max-width: 100%;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

.knap {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  background-color: #13E2AC;
  color: #000000;
  border: none;
  font-family: "Stick No Bills", sans-serif;
  font-size: 20px;
  font-weight: 800;
  font-style: normal;
  padding: 0.5em;
}
.knap:hover {
  background-color: #000000;
  color: white;
  transition: 0.3s ease-in-out;
}

header {
  padding-right: 1em;
  padding-left: 1em;
  display: flex;
  justify-content: space-between;
  background-color: #13E2AC;
}
header p {
  color: white;
  font-family: "Stick No Bills", sans-serif;
  font-size: 24px;
  font-weight: 800;
  font-style: normal;
}

/*Scenarios*/
/*Scene 1 & Scene 3*/
#scene1, #scene3-1, #scene3-2, #scene3-3, #scene5 {
  background-image: url(../conartist/img/inboxmobile-01.svg); /*Sætter baggrund på mobil version*/
  background-size: cover;
  height: 1000px;
  display: block;
  justify-items: center;
  align-content: center;
}

#popup, #feedback1, #feedback2, #feedback3, #snydt {
  display: block;
  justify-items: center;
  align-content: center;
  background-color: white;
  border-radius: 35px;
  border: solid 1px #000000;
  text-align: center;
  padding: 1em;
  margin: 1em;
  display: block;
  justify-content: center;
  align-content: center;
}

/*Scene 2*/
.valg {
  display: block;
  justify-items: center;
  align-content: center;
  background-color: white;
  border-radius: 35px;
  border: solid 1px #000000;
  text-align: center;
  padding: 1em;
  margin: 1.5em;
  display: block;
  justify-content: center;
  align-content: center;
}

#valgknapper, .tilbageknap, .send {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: 2em;
}

.mobile {
  display: block; /*Viser rigtige billede i mobileversion*/
}

.desktop {
  display: none; /*Skjuler billede fra desktopversion*/
}

/*facts (scene4)*/
h1 {
  font-family: "Stick No Bills", sans-serif;
  font-size: 32px;
  font-weight: 800;
  font-style: normal;
  text-align: center;
  margin-top: 1em;
}

#info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#info .tekst {
  display: block;
  justify-items: center;
  margin: 10px;
  margin-left: 35px;
  margin-right: 35px;
}
#info .fisk, #info .fisk1 {
  display: block;
  justify-items: center;
  width: auto;
  height: auto;
  border-radius: 35px;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
}
#info #deskfisk {
  display: none;
}
#info h2, #info h3 {
  font-family: "Stick No Bills", sans-serif;
  font-size: 24px;
  font-weight: 800;
  font-style: normal;
  text-align: center;
  margin-top: 2em;
}
#info ul {
  list-style: none;
}
#info .husk {
  margin-top: 2em;
}

.tilbageknap {
  margin-bottom: 3em;
}

/*Desktop*/
@media (min-width: 1000px) {
  /*Scene 1 & scene 3*/
  #scene1, #scene3-1, #scene3-2, #scene3-3, #scene5 {
    background-image: url(../conartist/img/inboxbaggrund-01-01-01.svg); /*Sætter baggrund for desktop*/
    margin: 1em;
    height: 1000px;
  }
  #popup, #feedback1, #feedback2, #feedback3, #snydt {
    padding: 8em;
  }
  #popup #knap1, #feedback1 #knap1, #feedback2 #knap1, #feedback3 #knap1, #snydt #knap1 {
    margin-top: 2em;
  }
  #popup .fortsætknap, #feedback1 .fortsætknap, #feedback2 .fortsætknap, #feedback3 .fortsætknap, #snydt .fortsætknap {
    margin-top: 3em;
  }
  /*Scene 2*/
  .desktop {
    display: block; /*Viser rigtige billede i desktopversion*/
  }
  .mobile {
    display: none; /*Skjuler billede fra mobilversion*/
  }
  .valg {
    padding: 6em;
    margin-right: 40em;
    margin-left: 40em;
  }
  /*Facts (scene 4)*/
  #info {
    justify-content: space-around;
  }
  #info .tekst {
    width: 850px;
  }
  #info .fisk {
    width: 800px;
    height: auto;
  }
  #info #deskfisk {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */