/*Variabler*/

$primary-color: white;
$second-color: #13E2AC;
$primary-font: "Stick No Bills", sans-serif;
$paragraph-font: 'Inter', sans-serif;
$text-color: #000000; 

/*Mixins*/


@mixin btn ($bg-color: $second-color, $btn-radius: 35px, $btn-padding: 0.5em, $text: $text-color, $font: $primary-font) {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $btn-radius;
    background-color: $bg-color;
    color: $text;
    border: none;
    font-family: $font;
    font-size: 20px;
    font-weight: 800;
    font-style: normal;
    padding: $btn-padding;
}

@mixin position ($position-margin: 0.5em) {
    display: block;
    justify-items: center;
    align-content: center;
}

@mixin feedbackbox ($box-color: $primary-color, $box-margin: 1em, $box-padding: 1em) {
    background-color: $box-color;
    border-radius: 35px;
    border: solid 1px #000000;
    text-align: center;
    padding: $box-padding;
    margin: $box-margin;
    display: block;
    justify-content: center;
    align-content: center;
}

/*Generel styling*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $primary-color;
}

img{
    max-width: 100%;
}

p {
    font-family: $paragraph-font;
    font-size: 18px
}


.knap {
    @include btn;

        &:hover {
            background-color: #000000;
            color: $primary-color;
            transition: 0.3s ease-in-out;
        }
}

header {
    padding-right: 1em;
    padding-left: 1em;
    display: flex;
    justify-content: space-between;
    background-color: $second-color;

    p {
        color: $primary-color;
        font-family: $primary-font;
        font-size: 24px;
        font-weight: 800;
        font-style: normal;
    }
}

/*Scenarios*/

/*Scene 1 & Scene 3*/
#scene1, #scene3-1, #scene3-2, #scene3-3, #scene5 {
    background-image: url(../conartist/img/inboxmobile-01.svg); /*Sætter baggrund på mobil version*/
    background-size: cover;
    height: 1000px;

    @include position;
}

#popup, #feedback1, #feedback2, #feedback3, #snydt {

    @include position;
    @include feedbackbox;

}


/*Scene 2*/

.valg {

    @include position;
    @include feedbackbox ($box-margin: 1.5em);
}

#valgknapper, .tilbageknap, .send {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
}

.mobile {
    display: block; /*Viser rigtige billede i mobileversion*/
}

.desktop {
    display: none; /*Skjuler billede fra desktopversion*/
}

/*facts (scene4)*/

h1 {
    font-family: $primary-font;
    font-size: 32px;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    margin-top: 1em;
}

#info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .tekst {
       display: block;
       justify-items: center;
       margin: 10px;
       margin-left: 35px;
       margin-right: 35px;
    }

    .fisk, .fisk1 {
        display: block;
        justify-items: center;
        width: auto;
        height: auto;
        border-radius: 35px;
        margin-left: 2em;
        margin-right: 2em;
        margin-bottom: 1em;
    }

    #deskfisk {
        display: none; /*fjerne ekstra billede i mobilversion*/
    }


    h2, h3 {
        font-family: $primary-font;
        font-size: 24px;
        font-weight: 800;
        font-style: normal;
        text-align: center;
        margin-top: 2em;
    }

    ul {
        list-style: none;
    }

    .husk {
        margin-top: 2em;
    }
}

.tilbageknap {
    margin-bottom: 3em;
}

/*Desktop*/
@media (min-width: 1000px) {

    /*Scene 1 & scene 3*/
    #scene1, #scene3-1, #scene3-2, #scene3-3, #scene5 {
        background-image: url(../conartist/img/inboxbaggrund-01-01-01.svg); /*Sætter baggrund for desktop*/
        margin: 1em;
        height: 1000px;
        
    }

    #popup, #feedback1, #feedback2, #feedback3, #snydt {
        padding: 8em;

        #knap1 {
            margin-top: 2em;
        }

        .fortsætknap {
            margin-top: 3em;
        }
    }

    /*Scene 2*/
    .desktop {
        display: block; /*Viser rigtige billede i desktopversion*/
    }

    .mobile {
        display: none; /*Skjuler billede fra mobilversion*/
    }

    .valg {
        padding: 6em;
        margin-right: 40em;
        margin-left: 40em;
    }

    /*Facts (scene 4)*/

    #info {
        justify-content: space-around;
    
        .tekst {
           width: 850px;
        }
    
        .fisk {
            width: 800px;
            height: auto;                           
          }

        #deskfisk {
            display: block; /*tilføjer ekstra billede i desktopversion*/
        }
    }
}
